@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
}

plasmo-csui {
  display: none !important;
}

#general-count {
  transition: all 0.5s ease-in-out; /* Adjust transition duration as needed */
}
